---
import BaseHTMLPage from "@components/common/BaseHTMLPage.astro";
import PostInfo from "@components/post/PostInfo.astro";
import PostNavigation from "@components/post/PostNavigation.astro";
import PostScripts from "@components/post/PostScripts.astro";
import PostTitle from "@components/post/PostTitle.astro";
import readingTime from "reading-time";
import type { MarkdownHeading } from "astro";
import type { PostMarkdown } from "src/util/types";
import { markdownFiles } from "src/util/file.util.astro";

import "src/styles/prism.css"

export async function getStaticPaths() {
    return markdownFiles.map((value, index, self) => ({
        params: { post: value.slug },
        props: {
            post: value,
            prev: self[index - 1]?.slug,
            next: self[index + 1]?.slug
        }
    }))
}

const post: PostMarkdown = Astro.props.post
const prev: string | null = Astro.props.prev
const next: string | null = Astro.props.next

const PostContent = post.Content
const headings: MarkdownHeading[] = await post.getHeadings()
const tags = post.frontmatter.tags

const readingTimeInMin = readingTime(post.rawContent()).minutes
---

<BaseHTMLPage title={post.frontmatter.title} description={post.frontmatter.summary}>
    <PostTitle frontmatter={post.frontmatter} readingTime={readingTimeInMin} />
    <main class="pt-8 max-w-7xl mx-auto
                grid gap-8 
                grid-cols-1
                sm:grid-cols-2
                md:[grid-template-columns:1fr_auto] md:[grid-template-rows:auto_1fr]
                xl:[grid-template-columns:1fr_auto_1fr] xl:order-none
                ">
        <aside class="md:order-3 xl:order-none">
            <div class="sticky top-24 px-2
                    md:max-w-xs md:ml-auto 
                    xl:max-w-none xl:ml-0">
                <PostNavigation headings={headings} />
            </div>
        </aside>
        <article class="
                    px-2
                    mx-auto overflow-hidden
                    prose md:prose-lg max-w-full lg:max-w-prose 
                    prose-a:text-ether-secondary1 prose-strong:text-ether-text2
                    order-last 
                    sm:order-last sm:col-span-2
                    md:row-span-2 md:col-span-1 md:order-2
                    xl:order-none xl:row-span-1">
            <PostContent />
        </article>
        <aside class="md:order-1 xl:order-none">
            <div class="sticky top-24 px-2
                    xl:max-w-none xl:ml-0">
                <PostInfo tags={tags} prev={prev} next={next} />
            </div>
        </aside>
    </main>
    <PostScripts />
</BaseHTMLPage>