---
import BaseHTMLPage from "@components/common/BaseHTMLPage.astro";
import GoUpAndCommentsButtons from "@components/post/GoUpAndCommentsButtons.astro";
import PostComments from "@components/post/PostComments.astro";
import PostCommentsScript from "@components/post/scripts/PostCommentsScript.astro";
import PostCopyScript from "@components/post/scripts/PostCopyScript.astro";
import PostInfo from "@components/post/PostInfo.astro";
import PostNavigation from "@components/post/PostNavigation.astro";
import PostNavigationScript from "@components/post/scripts/PostNavigationScript.astro";
import PostScrollButtonsScript from "@components/post/scripts/PostScrollButtonsScript.astro";
import PostTitle from "@components/post/PostTitle.astro";
import type { MarkdownHeading } from "astro";
import type { PostMarkdown } from "src/util/types";
import { markdownFiles } from "src/util/file.util.astro";

import "src/styles/prism.css";

export const getStaticPaths = async () => {
    return markdownFiles.map((value, index, self) => ({
        params: { post: value.slug },
        props: {
            post: value,
            prev: self[index - 1]?.slug,
            next: self[index + 1]?.slug,
        },
    }));
};

const post: PostMarkdown = Astro.props.post;
const prev: string | null = Astro.props.prev;
const next: string | null = Astro.props.next;

const PostContent = post.Content;
const headings: MarkdownHeading[] = await post.getHeadings();
const tags = post.frontmatter.tags;
---

<BaseHTMLPage
    title={`${post.frontmatter.title} | Jakub Śpiewak Blog`}
    description={post.frontmatter.summary}
    type={"article"}
>
    <PostCommentsScript slot="head" />
    <PostCopyScript slot="head" />
    <PostNavigationScript slot="head" />
    <PostScrollButtonsScript slot="head" />
    <meta property="keywords" content={tags.join(", ")} slot="head" />
    <meta property="og:publish_date" content={new Date(post.frontmatter.date).toISOString()} slot="head" />

    <PostTitle frontmatter={post.frontmatter} />
    <main
        role="main"
        class="container-main pt-8 grid gap-8 grid-cols-1 sm:grid-cols-2 md:[grid-template-columns:1fr_auto] md:[grid-template-rows:auto_1fr] xl:[grid-template-columns:1fr_auto_1fr] xl:order-none"
    >
        <aside class="md:order-3 xl:order-none">
            <div
                class="sticky top-24 px-2 md:max-w-xs md:ml-auto xl:max-w-none xl:ml-0"
            >
                <PostNavigation headings={headings} />
            </div>
        </aside>
        <article
            id="post-article-content"
            class="-mt-14 order-last max-w-full mx-auto px-2 overflow-hidden prose md:prose-lg lg:max-w-prose prose-a:text-ether-secondary1 prose-strong:text-ether-text2 sm:order-last sm:col-span-2 md:row-span-2 md:col-span-1 md:order-2 xl:order-none xl:row-span-1"
        >
            <PostContent name={post.frontmatter.title} />
            <PostComments />
        </article>
        <aside class="md:order-1 xl:order-none">
            <div class="sticky top-24 px-2 xl:max-w-none xl:ml-0">
                <PostInfo tags={tags} prev={prev} next={next} />
            </div>
        </aside>
    </main>
    <GoUpAndCommentsButtons />
</BaseHTMLPage>
